@inherits BlazorLayoutComponent
@inject BlazorDialogService dialogService

<div class="main">
    <div class="content px-4">
        <BlazorDialog Id="simple-dialog" ContextType="string" Context="message">
            <h4>@message</h4>
            <button type="button" class="btn btn-primary" onclick="@(()=> dialogService.HideDialog("simple-dialog", "yes"))">Yes</button>
            <button type="button" class="btn btn-secondary" onclick="@(()=> dialogService.HideDialog("simple-dialog", "no"))">No</button>
        </BlazorDialog>

        <BlazorDialog Id="bootstrap-dialog" ContextType="string" Context="message" IsCustom="true">
            <div id="bootstrap-dialog" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>@message</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="@(()=> dialogService.HideDialog("bootstrap-dialog", "yes"))">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="@(()=> dialogService.HideDialog("bootstrap-dialog", "no"))">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </BlazorDialog>

        @Body
    </div>
</div>
